# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/famicom/"
video_smooth = "true"

input_overlay = "/opt/retropie/configs/all/retroarch/overlay/Nintendo-Famicom.cfg"


savefile_directory = "~/RetroPie/saves/famicom"
savestate_directory = "~/RetroPie/saves/famicom/states"
#include "/opt/retropie/configs/all/retroarch.cfg"
