<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="14">
<InputConfig class_id="0" tracking_level="0" version="0">
	<globalMap class_id="1" tracking_level="0" version="0">
		<mapping class_id="2" tracking_level="0" version="0">
			<count>2</count>
			<item_version>0</item_version>
			<item class_id="3" tracking_level="0" version="0">
				<first>0</first>
				<second>8</second>
			</item>
			<item>
				<first>1</first>
				<second>27</second>
			</item>
		</mapping>
	</globalMap>
	<kbdMaps class_id="4" tracking_level="0" version="0">
		<count>1</count>
		<item_version>0</item_version>
		<item class_id="5" tracking_level="0" version="0">
			<mapping class_id="6" tracking_level="0" version="0">
				<count>12</count>
				<item_version>0</item_version>
				<item class_id="7" tracking_level="0" version="0">
					<first>0</first>
					<second>100</second>
				</item>
				<item>
					<first>1</first>
					<second>115</second>
				</item>
				<item>
					<first>2</first>
					<second>101</second>
				</item>
				<item>
					<first>3</first>
					<second>119</second>
				</item>
				<item>
					<first>4</first>
					<second>97</second>
				</item>
				<item>
					<first>5</first>
					<second>102</second>
				</item>
				<item>
					<first>6</first>
					<second>32</second>
				</item>
				<item>
					<first>7</first>
					<second>306</second>
				</item>
				<item>
					<first>8</first>
					<second>275</second>
				</item>
				<item>
					<first>9</first>
					<second>276</second>
				</item>
				<item>
					<first>10</first>
					<second>273</second>
				</item>
				<item>
					<first>11</first>
					<second>274</second>
				</item>
			</mapping>
		</item>
	</kbdMaps>
	<joysticks class_id="8" tracking_level="0" version="0">
		<count>1</count>
		<item_version>0</item_version>
		<item class_id="9" tracking_level="0" version="0">
			<name>Default</name>
			<mapping class_id="10" tracking_level="0" version="0">
				<count>10</count>
				<item_version>0</item_version>
				<item class_id="11" tracking_level="0" version="0">
					<first>0</first>
					<second>0</second>
				</item>
				<item>
					<first>1</first>
					<second>1</second>
				</item>
				<item>
					<first>2</first>
					<second>2</second>
				</item>
				<item>
					<first>3</first>
					<second>3</second>
				</item>
				<item>
					<first>4</first>
					<second>4</second>
				</item>
				<item>
					<first>5</first>
					<second>5</second>
				</item>
				<item>
					<first>6</first>
					<second>6</second>
				</item>
				<item>
					<first>7</first>
					<second>7</second>
				</item>
				<item>
					<first>8</first>
					<second>8</second>
				</item>
				<item>
					<first>9</first>
					<second>9</second>
				</item>
			</mapping>
		</item>
	</joysticks>
</InputConfig>
</boost_serialization>

