# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/GCE-Vectrex.cfg"
input_overlay_opacity = "1.000000"

input_remapping_directory = "/opt/retropie/configs/vectrex/"
video_smooth = "true"


savefile_directory = "~/RetroPie/saves/vectrex"
savestate_directory = "~/RetroPie/saves/vectrex/states"
#include "/opt/retropie/configs/all/retroarch.cfg"
