# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/n64/"
video_smooth = "true"

savefile_directory = "~/RetroPie/saves/n64"
savestate_directory = "~/RetroPie/saves/n64/states"
#include "/opt/retropie/configs/all/retroarch.cfg"
